<!DOCTYPE html>
<html lang="en">

<head>
    <title>Private Area - Index (You aren't supposed to be here)</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow, nosnippet, noimageindex" />
    <meta name="referrer" content="noreferrer">
</head>

<body>
    <main>
        <h1>Private Area</h1>
        <p>If you've reached this page, then go back, do not go further. You have been warned.</p>
        <p>There is nothing here of substance, nothing to meaningful to read, nothing of importance or note.</p>
        <p>Here is the entry point for the Nail Pit. Within, there's a never-ending labyrinth of nonsense, chaos and
            malicious intent, though mostly rusty nails. Proceeding further will likely put your machine/browser at risk
            of shenanigans relating to memory usage with the intent on causing your computer to go OOM and crash.</p>
        <p>The only reason you'd continue further is if you are a curious soul, investigating the nature of this pit for
            research purposes, or you are not a human and cannot comprehend this warning, automated to crawl and
            scrape <em>everything</em> it can find, consequences be damned.</p>
        <p>Do not go further. Do not reveal the secret doors hidden within this warning. Step back from the precipice of
            the abyss and return home.</p>
        <p>You have been warned.</p>
        <aside style="visibility: hidden;">
            <h1>Come get your Tetanus</h1>
            <nav>
                <ul>
                    <li><a href="/private/door-one">Door One</a></li>
                    <li><a href="/private/door-two">Door Two</a></li>
                    <li><a href="/private/door-three">Door Three</a></li>
                </ul>
            </nav>
        </aside>
    </main>
</body>

</html>